:root {
  --accent-color: #333;
  --text-color: white;
  --dark-color: #333;
}

body {
	background-color: #999;
	margin: 0px;
	color: var(--text-color);
}

.title {
	margin-top: 0px;
	padding: 10px;
	background-color: var(--accent-color);
}

.gridContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 0px;
}

footer {
	background: var(--accent-color);
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.leftAside {
	background-color: var(--accent-color);
	margin-top: 17px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25%;
	padding-right: 25%;
}

.rightAside {
	background-color: var(--accent-color);
	margin-top: 17px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 25%;
	padding-right: 25%;
}

ul{
	list-style-type: none;
}

@media only screen and (max-width: 1000px) {
	grid-column: 3/3;
}
